
<h1 class="display-1 text-stroke text-center font-weight-bold" style="text-shadow: 0 0 10px rgba(0,0,0,0.5)">CarComparison</h1>
<h2 class="text-center text-stroke-mini">～スペーシア、N-BOX、タントの価格比較～</h2>
<div class="device_color">このサイトの使い方</br>
     ○車種、グレードなどを選んで価格を比較できます。<br>
     ○スズキのスペーシア、ダイハツのタント、ホンダのN-BOXの３車種の比較となっております。<br>
     ○新車の価格となっておりますので新車購入をする際の目安にして頂ければと思っております。<br>
     ※車種は随時更新予定です。</div>