<div>
    <div class="main">
        <%= render @car %>
    </div>
    <div>
        <%= link_to '編集', edit_car_path(@car), class: "btn btn-success" %> |
        <%= link_to '戻る', cars_path, class:"btn btn-dark" %>
    </div>
</div>
