<footer class="d-flex flex-column justify-content-end align-items-end", style="background-color: #e3f2fd;">
  <div class="text-muted small px-3">TODO App by Ruby on Rails & Bootstrap 4</div>
</footer>